#header{
    position: fixed;
    z-index: 100;
    height: fit-content;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:#333;
    color:#fff;
}

#logo{
    height: 2.5em;
}

.thema{
    margin: 0.5em;
    text-align: center;
}

.content{
    padding: 40px 0px 0px 10px;
    height: 600px;
}
#dropdown{
    margin: 0 auto;
    width: 20%;
}

#sendbox{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    margin: 0 auto;
}

#sendButton{
    margin: 0 auto;
    width: 20%;
    margin-top: 30px !important;
}


#response{
    background-color: cornsilk;
    text-align: center;
}

#inputMessage{
    height: 100px;
}


#getButton{
    margin: 0 auto;
    width: 20%;
    margin-top: 30px !important;
}
